body {
    background-image: url("./assets/pic1.jpg");
}

.div_g {
    position: relative;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    justify-content: right;
    margin-right: 50px;
}

li {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
}

.button_item {
    display: flex;
    justify-content: center;
    width: 12%;
}

a {
    text-decoration: none;
    color: black;
}

#login_button_1 {
    font-size: 1.3rem;
    text-transform: uppercase;
    border-radius: 20px;
    width: 100px;
    color: blue;
    font-weight: 600;
    background-color: transparent;
    border: 3px solid blue;
    transition: transform 0.7s ease;
}

#login_button_1:hover {
    color: white;
    background-color: blue;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.item {
    position: relative;
}

#img_1 {
    position: absolute;
    height: 100%;
    width: 4%;  
    top: -17%;
    left: 1%;
    border-radius: 50%;
}

.item::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: black;
    transform: translateX(-101%);
    transition: transform 0.5s ease-out;
}

.item:hover::after {
    transform: translateX(0%);
    transition: transform 0.5s ease-out;
}

.active::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: black;
    transform: translateX(0%);
}

.div_h {
    /* border: 5px solid black; */
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.para_0 {
    margin: 0px;
}

h1 {
    position: absolute;
    font-size: 90px;
    text-align: center;
    padding: 0px 20%;
    top: -1%;
}

h2 {
    position: absolute;
    top: 65%;
    font-size: 30px;
}

h3 {
    position: absolute;
    top: 76%;
    font-size: 15px;
}

#signup_button_1 {
    position: absolute;
    top: 86%;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-radius: 20px;
    color: blue;
    font-weight: 600;
    background-color: transparent;
    border: 3px solid blue;
    height: 10%;
    width: 17%;
    transition: transform 0.5s ease;
}

#signup_button_1:hover {
    color: white;
    background-color: blue;
    transform: scale(1.05) translateY(-5px);
    transition: transform 0.3s ease;
}

input {
    border-radius: 5px;
    border: 3px solid blue;
    width: 30%;
    height: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

#signup_form {
    width: 100%;
}

#grid_container {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 30px;
    padding: 15px;
}

#tabdiv {
    position: relative;
}

p {
    text-align: justify;
    font-size: 120%;
    font-family: 'Times New Roman' ,Times, serif, sans-serif;
}

table {
    position: absolute;
    top: 7.6%;
}